<h1>Pirate:</h1>
<h3><%= @pirate.name %><h3>
<h3><%= @pirate.weight %><h3>
<h3><%= @pirate.height %><h3>


<h2>Ships:</h2>

<% @ships.each do |ship| %>
  <br>
  <h3><%= ship.name %><h3>
  <h3><%= ship.type %><h3>
  <h3><%= ship.booty %><h3>
  <br>
<% end %>
